.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1cm 0cm;
    border-bottom: 1px solid darkslategrey;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 98.7%;
    background-color: white;
}

.nav-logo img{
    max-height: 40px;
}

.nav{
    display: flex;
    /* overflow: hidden; */
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
}

.nav-item{
    padding: 2px 1em;
    border: 0.5px solid black;
    min-width: 60px;
    text-align: center;
    text-decoration: none;
    color: black;
    /* position: fixed; */
}

.nav-item:hover{
    background: black;
    color: white;
}

.greetings{
    padding-top: 1em;
    padding-left: 1em;
}

.banner{
    padding: 3em;
    border-bottom: 1px solid black;
    background-image: url("../assets/background_electronic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.headquarters{
    border-top: 1px solid black;
    padding-top: 3em;
    padding-left: 3em;
    padding-bottom: 2em;
}

.hq-items{
    padding-left: 4em;
    padding-right: 30em;
    display: flex;
    justify-content: space-around;
}

.circle{
    /* height: 1px; */
    /* width: 1px; */
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    text-align: center;
}

.circle img{
    border-radius: 50%;
}

.form1{
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 5em;
    padding-bottom: 2em;
}

.message-us{
    border-top: 1px solid black;
    padding-top: 1em;
    padding-left: 2em;
}

.form-left{
    /* padding-left: 3em; */
    font-size: small;
}

/* .form-left-top{ */
    /* padding-bottom: 2em; */
/* } */

.pesan{
    /* text-align: left; */
    vertical-align: top;
}

.form-right{
    border: 1px solid black;
}

.footer{
    border-top: 1px solid black;
}

.footer-text{
    color: gray;
    font-size: small;
    text-align: right;
    padding-right: 1em;
}